.reveal ol,
.reveal ul {
  line-height: 1.5;
  padding-left: 15px;
  margin-bottom: 15px;
}

.reveal h1 {
  font-size: 300%;
}

.hljs {
  color: #fff;
  background: none;
}

.text-gold {
  color: #FAE65F !important;
}

.reveal p {
  margin-left: 0;
}

.reveal p em {
  border-bottom: 1px solid #fff;
  margin: 0 10px 30px 10px;
  color: #fff;
  float: left;
  font-size: 75%;
  padding-bottom: 10px;
  font-style: inherit;
  width: 35%;
  text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #fff;
  font-family: "Montserrat Medium", "Montserrat", sans-serif;
}

.reveal .north h3 {
  padding-top: 30px;
}

.reveal .code-hide-opacity {
  opacity: 0.25;
}